# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DocumentAnalyzerService.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\atlas\source\repos\PROYECTO-I-DOCUMENT-ANALYZER\DocumentAnalyzerService\.idea\.idea.DocumentAnalyzerService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
